@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Italic.woff') format('woff'),
         url('../fonts/OpenSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto Condensed';
    src:url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic.eot');
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
        url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('RobotoCondensed-LightItalic.woff') format('woff'),
        url('RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.eot');
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
        url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-BoldItalic.woff') format('woff'),
        url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.eot');
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
        url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Bold.woff2') format('woff2'),
        url('RobotoCondensed-Bold.woff') format('woff'),
        url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Regular.woff2') format('woff2'),
        url('RobotoCondensed-Regular.woff') format('woff'),
        url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.eot');
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
        url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Italic.woff2') format('woff2'),
        url('RobotoCondensed-Italic.woff') format('woff'),
        url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on July 4, 2017 2:29 AM */

@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueRegular.eot');
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
		url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueRegular.woff') format('woff'),
		url('BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueBold.eot');
	src: local('Bebas Neue Bold'), local('BebasNeueBold'),
		url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueBold.woff') format('woff'),
		url('BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueLight.eot');
	src: local('Bebas Neue Light'), local('BebasNeueLight'),
		url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueLight.woff') format('woff'),
		url('BebasNeueLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeue-Thin.eot');
	src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
		url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
		url('BebasNeue-Thin.woff') format('woff'),
		url('BebasNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue Book';
	src: url('BebasNeueBook.eot');
	src: local('Bebas Neue Book'), local('BebasNeueBook'),
		url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
		url('BebasNeueBook.woff') format('woff'),
		url('BebasNeueBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
