* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li,
ol {
  list-style: none;
}

._ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

/*=============================================================================================================*/


.header {
  background-image: url("../img/Слой\ 1.png");
  height: 33px;
  top: 0;
  left: 0;
}

.header-body {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.header_list {
  display: flex;

  a {
    text-decoration: underline;
  }
}

.default-section {
  padding: 30px 0 0;
}

.menu-nav {
  z-index: 2;
}

.header_list li {
  list-style: none;
  margin: 0 65px 0 0px;

  &:last-child {
    margin-top: 0px;
  }
}

.header-burger {
  display: none;
}

.header_list a {
  font-family: 'OpenSans-Regular';
  color: #fff;
  font-size: 14px;
}


.section-search {
  background-image: url(../img/heder-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 130px;
}

.search-img a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.jc-se {
  justify-content: space-evenly
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-img div {
  font-size: 20px;
  font-family: "RobotoCondensed-Bold";
  color: rgb(21, 125, 140);
  font-weight: bold;
}

.title_search {
  font-size: 22px;
  font-family: "OpenSans";
  color: rgb(21, 125, 140);
  font-weight: 500;
  font-style: italic;
  line-height: 2.5;
}

.title_search span {
  font-size: 22px;
  color: #157d8c;
  font-weight: 900;
}

.search input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 227, 227);
  background-color: rgb(255, 255, 255);
  width: 414px;
  padding: 10px 20px 13px;
  margin-right: 6px;
}

.input-holder input[type="text"]::placeholder {
  color: rgb(106, 196, 184);
}

input:focus {
  border-color: lightblue;
}

.input-holder {
  display: flex;
}

.fa-search {
  margin-top: 12px;
}

.fa-search::before {
  content: '\f002';
  padding: 12px;
  color: #fff;
  cursor: pointer;
  background-color: #157d8c;
}

.section-list {
  background-image: url(../img/heder-img.png);
  border-top: 1px solid#99dad2;
}

.section-list img {
  width: 18px;
  margin: 0 25px -5px 0;
}

.headerli_list li {
  padding: 18px 0;
  display: inline-block;
  background: url("../img/track.png") left / 18px no-repeat;

  &:last-child {
    margin-bottom: -10px;
  }
}

.headerli_list a {
  text-decoration: none;
  color: #fff;
  margin: 0 14px 0 39px;
}

.default-section {
  padding: 30px 0 0;
}

/*=============================================================================================================*/
.swiper {
  width: 630px;
  height: 375px;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__content {
  position: relative;
  font-family: "BebasCyrillic";
  font-size: 36px;
  line-height: 105%;
  padding: 30px 35px;
  p {
    color: rgb(254, 211, 79);
  }

  div {
    color:#fff;
  }
  
}

.swiper-pagination-bullet {
  border: 4px solid #fff;
  width: 14px;
  height: 14px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

/*=============================================================================================================*/

/* сидебар */
.sideBar {
  padding: 0 30px;
  width: 315px;
}

.sideBar_tem {
  cursor: pointer;
  padding: 8px 0;
  font-size: 18px;
}

.sideBar_tem a {
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  color: #999999;
  margin-left: 12px;
}

.sideBar_tem:hover {
  background-color: #EEF3F5;
  border-radius: 4px;
}

.sideBar_section h1 {
  background-color: rgb(254, 211, 79);
  color: #fff;
  padding: 10px 120px;
  font-family: 'RobotoCondensed';
  font-size: 22px;
}

.sideBar_section {
  background-color: #f3f3f3;
}

.sideBar_section li {
  list-style: none;
}

.menu-checkbox {
  padding: 20px 22px 6px;
}

.menu-checkbox span {
  font-size: 18px;
  font-family: "RobotoCondensed";
  color: rgb(56, 56, 56);
}

input[type=checkbox]+label {
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "OpenSans";
  color: rgb(153, 153, 153);
}

.checkx-box {
  padding: 15px 0 0;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "\2714";
  background-color: #fff;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0 5px 0;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  margin-right: 10px;
}


input[type=checkbox]:checked+label:before {
  background-color: #fed34f;
  color: #fff;
}

input[type=checkbox]:checked+label {
  color: rgb(56, 56, 56);
}

input[type=checkbox]:disabled+label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.sideBar a {
  font-size: 18px;
  font-family: "RobotoCondensed";
  color: rgb(254, 211, 79);
  font-weight: bold;
  line-height: 0.778;
  margin: 0 12px 10px 0;
  text-decoration: none;
  border-bottom: 1px solid;
}

.sideBar-img {
  display: flex;
  justify-content: center;
}

.img-holder img {
  padding: 10px 0;
}

.line-background {
  background-color: #e3e3e3;
  width: 630px;
  height: 1px;
}

.news-section .sideBar {
  padding: 50px 32px 0;

}

.news-section .sideBar_section h1 {
  font-size: 22px;
  font-family: "RobotoCondensed";
  font-weight: bold;
  line-height: 2.409;
  text-align: center;
  background-color: #91d35f;
  color: #fff;
  padding: 0;
}

.news-section h1 {
  font-size: 32px;
  font-family: "RobotoCondensed";
  color: rgb(56, 56, 56);
  font-weight: bold;
  line-height: 1.656;
  text-align: center;
}

.new-info {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(227, 227, 227);
}

.nev-title {
  padding: 0 20px;
  max-width: 346px;
}

.nev-title a {
  font-size: 18px;
  font-family: "RobotoCondensed";
  color: #383838;
  line-height: 1.333;
  margin: 0 12px 10px 0;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.nev-title .col-2 {
  display: flex;
}


.data-title .fa-calendar,
.fa-eye {
  color: #6ac4b8;
}

.data-title,
.data-title_img {
  margin: 10px 0;
}

.data-title span {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(106, 196, 184);
  line-height: 1.429;
  font-weight: 900;
  padding: 0 20px 0 0;
}


.title-holder {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(119, 119, 119);
  line-height: 1.429;
}

.li-holder a {
  font-size: 16px;
  font-family: "RobotoCondensed";
  color: rgb(106, 196, 184);
  text-decoration: none;
  border-bottom: 1px solid rgb(106, 196, 184);
}

.search-img img {
  width: 100%;
}

.news-section .sideBar_section {
  background-color: transparent;
}

.news-section .sideBar_section span {
  color: #91d35f;
  padding: 0 15px 0 0;
}

.news-section .sideBar_section a {
  font-family: 'RobotoCondensed';
  color: rgb(56, 56, 56);
  line-height: 1.333;
}

.useful_tips h1 {
  text-align: center;
  background-image: url("../img/bag8e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 30px;
  font-size: 32px;
  font-family: "RobotoCondensed";
  color: rgb(56, 56, 56);
  font-weight: bold;
  padding: 30px 0 10px;
}

.useful_tips {
  background-color: #f3f3f3;
}

.useful_tips hr {
  max-width: 970px;
  background-color: rgb(227, 227, 227);
  opacity: .4;
  margin: 0 auto;
}

.useful_tips col {
  display: flex;
}

.useful_tips ul,
.useful_tips li {
  list-style: none;
  position: relative;
}

.useful_tips img {
  max-width: 300px;
  padding: 30px 18px;
}

.descr a {
  color: #fff;
}

.useful_tips .descr {
  position: absolute;
  bottom: 33px;
  padding: 10px 16px 0;
  left: 18px;
  width: 80%;
  height: 60px;
  background-color: rgb(21, 125, 140);
  opacity: 0.749;
  font-size: 18px;
  font-family: "RobotoCondensed";
  display: none;
  transition: all .25s;
}

.useful_tips li:hover .descr {
  display: block;
}

.interesting_articles-email h1 {
  font-size: 32px;
  font-family: "RobotoCondensed";
  color: rgb(56, 56, 56);
  font-weight: bold;
  text-align: center;
}

.interesting_articles-email hr {
  width: 82%;
  background-color: rgb(227, 227, 227);
  margin: 0 auto;
  opacity: .2;
}

.interesting_articles-email .row {
  border-radius: 5px;
  margin-top: 30px;
}

.interesting_articles-email .col {
  background-color: rgb(254, 211, 79);
  padding: 30px 20px;
}

.interesting_articles-email {
  padding: 30px 0 60px;
}

.interesting_articles-email input {
  margin-right: 10px;
  color: rgb(119, 119, 119);
  font-size: 16px;
  padding: 15px 20px;
  width: 370px;
  border: none;
  font-family: "RobotoCondensed";
}

.interesting_articles-email input[type="text"]::placeholder {
  color: rgb(119, 119, 119);
}

.btn-articles button {
  background-color: #42c7b5;
  border: none;
  padding: 16px;
  color: #e3e3e3;
}

.btn-articles button:hover {
  background-color: #4c97a1;
}

.section-list_footer {
  background-color: rgb(21, 125, 140);
  border-bottom: 1px solid rgb(153, 218, 210)
}

.section-list_footer .search-img {
  padding: 20px 0;
}

.section-list_footer .headerli_list img {
  width: 18px;
  margin: 0 25px -5px 0;
}

.section-list_footer .search-img div {
  font-size: 20px;
  font-family: "RobotoCondensed";
  color: rgb(106, 196, 184);
  font-weight: bold;

}

.search-footer img {
  margin-top: -12px;
}

.footer-contact span {
  font-family: "RobotoCondensed";
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;

}

.contact-holder {
  display: flex;
  padding: 40px 0 0;
}

.img-contact {
  margin: 0 9px;
}

.contact-holder-li a,
span {
  font-family: "RobotoCondensed";
  font-size: 16px;
  line-height: 18px;
  color: #6ac4b8;
  font-weight: 400;
}

.contact-holder-li a {
  text-decoration: none;
  border-bottom: 1px solid #6ac4b8;
}

.contact-holder-li img {
  width: 30px;
  margin: 10px 12px -9px;
}

@media(max-width:1024px) {
  .headerli_list li {
    padding: 18px 14px;
    display: inline-block;
  }

  .news-section {
    padding-bottom: 30px;
  }

  .sideBar {
    padding: 30px;
  }
}

@media (max-width:768px) {
  body.lock {
    overflow: hidden;
  }

  .header-body {
    height: 33px;
    justify-content: flex-end;
  }

  .logo {
    flex: 0 0 40px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    top: 10px;
    z-index: 2;
    transition: all 0.3s else 0s;
  }

  .header-burger::after,
  .header-burger::before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s else 0s;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 0;
  }

  .header-burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu-nav {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8cd3c9;
    z-index: 1;
    transition: all 0.3s ease 0s;
    padding: 70px 10px 20px 20px;
  }

  .menu-nav.active {
    top: 0;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    margin: 0 0 20px 0;
  }

  .search input {
    width: 356px;
  }

  .useful_tips .row {
    justify-content: end;
  }

  .interesting_articles-email input {
    width: 243px;
  }

  .news-section .sideBar {
    padding: 30px;
  }
}

@media (max-width:425px) {
  .search input {
    width: 309px;
  }

  .title_search {
    line-height: 1.5;
  }

  .input-holder {
    margin: 15px 0;
  }


  .new-info {
    padding: 30px;
  }

  .nev-title {
    padding: 0;
  }

  .useful_tips .row {
    justify-content: center;
  }

}

@media (max-width:375px) {
  .search input {
    width: 260px;
  }

  .news-section .sideBar {
    padding: 50px 0 0;
  }
}

@media (max-width:320px) {
  .search input {
    width: 215px;
  }


  .sideBar {
    padding: 0;
    width: 310px;
  }

  .search-footer img {
    margin-top: -12px;
    width: 260px;
  }

  .useful_tips img {
    max-width: 300px;
    padding: 30px 0;
  }

  .interesting_articles-email input {
    padding: 15px 14px;
  }

  .interesting_articles-email .col {
    padding: 30px 18px;
  }
}